@import url(./App.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --title: 61.04px;
  --body: 25px;
  --misc: 16px;
  --navHeight: 70px;
  --containerPadding: 70px;
  --container: 1140px;
}

.title, .body {
  color: #0b0b0b;
  transition: 1s ease-in-out;
}
.title span, .body span {
  color: #e08762;
}

.title {
  font-family: "Marcellus", serif;
  font-size: var(--title);
}

.body {
  font-family: "Overpass", sans-serif;
  font-size: var(--body);
  font-weight: 300;
  color: #7b7b7b;
}

.effect {
  opacity: 1;
  transition: 1s ease-in-out;
}

.effect.active {
  transform: translate3d(0, 0, 0) skew(0, 0);
  opacity: 1;
  transition: 1s ease-in-out;
}

.container {
  margin-top: var(--navHeight);
  padding: 40px var(--containerPadding);
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: #fff;
}
.container .section {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.container footer {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container footer div {
  display: flex;
  gap: 20px;
}

#about #me {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
#about #me img {
  flex-basis: 60%;
  aspect-ratio: 2/3;
  filter: saturate(0%);
}
#about #me > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#about #me > div h1, #about #me > div p {
  text-align: left;
}
#about #experience div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about #experience > :nth-child(1) {
  align-self: flex-start;
  position: sticky;
  top: var(--navHeight);
}
#about #experience .experiences {
  gap: 40px;
  font-family: "Overpass", sans-serif;
}
#about #experience .experiences .exp {
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #7b7b7b;
}
#about #experience .experiences .exp div {
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
#about #experience .experiences .exp div :nth-child(1) {
  font-weight: 600;
}
#about #experience .experiences .exp h3 {
  font-size: var(--body);
  color: #e08762;
}
#about #experience .experiences .exp p {
  font-size: var(--misc);
  color: #7b7b7b;
}

@media only screen and (max-width: 1024px) {
  #about #me {
    flex-direction: column-reverse !important;
  }
  #about #me img {
    flex-basis: auto !important;
    width: 100% !important;
    gap: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  #experience {
    flex-direction: column !important;
  }
  #experience :nth-child(1) {
    position: relative !important;
    top: auto !important;
  }
  #experience .experiences {
    gap: 20px !important;
  }
  #experience .experiences > :last-child {
    border-bottom: none !important;
  }
}
@media only screen and (max-width: 480px) {
  body {
    --container: 100% !important;
    --containerPadding: 20px !important;
    --title: 25.63px !important;
    --body: 16px !important;
    --misc: 12.8px !important;
    --navHeight: 50px !important;
  }
}/*# sourceMappingURL=About.css.map */