@use './designSystem.scss' as d;

#contact{
    flex-direction: column;
    .text.body{
        text-align: left !important;
    }

    >:nth-child(1){
        p{
            font-size: var(--body);
            font-family: d.$font2;
            color: d.$gray;
            font-weight: 300;
        }
        .animatedLink{
            font-family: d.$font1;
            font-size: var(--title);
        }
        .animatedLink:hover{
            color: d.$tertiary !important;
        }
    }

    >:nth-child(3){
        display: flex;
        gap: 40px;
    }
}

@media only screen and (max-width: 480px) {
    #contact{
        >:nth-child(1){
            display: flex !important;
            flex-direction: column !important;
            gap: 10px !important;
        }
        >:nth-child(3){
            flex-direction: column !important;
            gap: 20px !important;
        }
    }
}